

data/
evaluations/
compile_tflite/
clothing-model/
week5/homework
homework_w5/
ping/
notes/

.ipynb_checkpoints
*.csv
*.txt
*.pem
.bin
*/helper.py
*.bin
*dataset*
*.h5
*.tflite
config*
aws_url.py
eks*

